@font-face 
{font-family: Roboto-Regular;
src: url('font/Roboto-Regular.ttf') format('truetype');}

@font-face 
{font-family: Roboto-thin;
src: url('font/Roboto-thin.ttf') format('truetype');
}

@font-face 
{font-family: beauty;
src: url('font/Beauty.ttf') format('truetype');
}

@font-face 
{font-family: maven;
src: url('font/MavenPro-Regular.ttf') format('truetype');
}

@font-face
{ font-family: Humanistic;
src: url('font/humanistic.cursive.ttf') format('truetype');}
 
 
 
         
              
/*------------NAVBAR STYLE------------------------*/
       .nav-link { 
          margin-right: 15px;
          color: white;
          margin-top: 0px;
          margin-left:0px;
          margin-bottom: 0px;
          text-align: left;
      
          }

        .navbar-toggler-icon {
          background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00'); /*hamburger*/
        }


        .dropdown-item {
          color: black;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 8pt;
        }
        
       .dropdown-divider {background-color: #808080; }

      

        #ladolcevita {
          color: white !important; 
          margin-left:15px; 
          margin-right:15px; 
        }
        
        .navbar {
            background-color: #000000; 
            font-family: Helvetica, Arial, sans-serif;
          font-size: 8pt;
          letter-spacing: 2.5px;
          border-radius: 0px !important;
          margin-bottom: 0px !important;
          }

       .navbar li{
       	padding: 0px !important;
		font-family: Helvetica, Arial, sans-serif;
		margin-left: 5px;
		letter-spacing: 2.5px;
		font-size: 8pt;
		color: #808080;
       }

          #article-button {
            background-color: #000000; 
            font-family: Helvetica, Arial, sans-serif; 
            letter-spacing: 2.5px; 
            font-size: 8pt; 
            border: none; 
            color: #808080; 
            padding-left: 0px; 
            padding-right: 0px; 
            margin: 0px;
          }

.logo {
  height: 25px;
  width: 25px;
}

.font-navsection {
	font-family: champagne;
	font-size:12px;
}





/*-----------------FOOTER STYLE-----------------*/
          
          .footer { 
            position:static;
            left: 0;
			bottom:0;
            width: 100%;
            background-color: #000000;
            color: white;
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;
            padding: 5px;
            letter-spacing: 2.5px;
            font-size: 11px;
            padding-top: 15px; 
            padding-bottom: 3px;
            height: auto !important; 
                }
          

          /*loghi del footer*/
          .toindex {
            max-width: 100%;
            height: auto;
            width:30px;
            margin-top:0px;
            margin-bottom: 10px;
            filter: none;
            border: none;
            display: inline-block;
            margin-left: 15px;
            margin-right: 15px;
          } 
          
          #logos{
            text-align: center;
          }

           .copyright {
            background-color: #000000; 
            font-family: Helvetica, Arial, sans-serif; 
            letter-spacing: 2.5px; 
            font-size: 11px; 
            border: none; 
            color: #808080; 
            padding-left: 0px; 
            padding-right: 0px;
          }
		  
		  .copyright p{color: white;
		  font-size:10px;}

          .foot-menu {
            cursor: pointer;
            font-size: 11px;
          }

          .modal-body p{
            font-family: Helvetica, Arial, sans-serif;
          }

          .modal-body a{
            font-family: Helvetica, Arial, sans-serif;
            color: black;
          }


          /*FORM IN FOOTER*/

          .button-form {
            background-color: #000000; 
            font-family: Helvetica, Arial, sans-serif; 
			background-color:transparent;
            letter-spacing: 2.5px; 
            font-size: 11px; 
            border: none; 
            color: #808080; 
            padding-left: 0px; 
            padding-right: 0px;
          }

          .modal-title{
            font-family: Helvetica, Arial, sans-serif;
          color: black;
          }


          /* Style inputs */
          input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
          }

          input[type=submit] {
            background-color:transparent;
            color: black;
            border: none;
          }

          input[type=submit]:hover {
            background-color: transparent;
          }
		
          /* contact section */
          .container-modal {
            background-color:white;
            padding: 10px;
		
          }
		  
		  .modal-dialog{margin-left:auto;
		  margin-right:auto;}
			
          .column {
            width: 100%;
            margin-top: 6px;
            padding: 20px;
            font-family: Helvetica, Arial, sans-serif;
            color: black;
          }

          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }


/*TEAM*/
#title-team{
	font-size:40px;
	text-align: center !important;
	text-transform: uppercase !important;
}
 
.description-team{ 
	margin-left:40px;
	margin-right:4px;}

.container-team{
	margin-left:100px;
	margin-right: 100px;
	padding-bottom:50px;
	padding-top:50px;
}

.card{
	border-color:transparent;}



.cornice {
  background-image: url("images/cornice.jpg");
  background-size: cover;
}



/*-----HOMEPAGE------*/

.card-title {
	padding-bottom: 20px;
	font-size: 50px;
	font-family: Humanistic;
}


.homepage {
		background: url("images/sfondoprova.png") no-repeat center;
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 4%;

}


.text-block {
	text-align: center;
	padding: 20%;
}
	

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px !important;
}


.card:hover {
	background-color: rgba(233, 223, 209, 0.9) !important; 
}

/*.intro {
	background-color:#E0C5A7;
	color: white;
	padding: 7%;
}*/

/*------------link------------------------*/
.link-card-title :hover {
  color:#7A1E07;}



/*------------CARDS-QUERIES------------------------*/

.info-query{margin-top:50px;
margin-left:30px;}

.card-container{
		margin-top:100px;
		margin-left:50px;
		margin-right: 50px;
		padding-bottom:100px;
}

.btn-light{position:absolute;
   bottom:0;
width:80%;
margin-bottom:10px;
   }
   


.col-sm-4{
	display: flex;
display: -webkit-flex;
flex-flow: row nowrap;
-webkit-flex-flow: row nowrap;
align-items: stretch;
-webkit-align-items: stretch;
justify-content: space-between;
-webkit-justify-content: space-between;
margin-top: 10px;
flex: 1;
padding: 25px ;

margin-left: 10px;
margin-right: 10px;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
width:100%;

}



.center-fit {
	padding: 0;
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
	margin-left:auto;
	margin-right:auto;

}

#title{
	font-family: beauty;
	font-size:13vw;
	color:white;
  position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 150px;
}


#subtitle{
	font-family: geo;
	font-size: 1.5vw;
	color:white;
	position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 200px;
	letter-spacing: 3px;
}

.canto {
  margin-top: 50px;
}


.popover {
  margin-left: 80px;
}
